{{define "title"}}Hello{{end}}

{{define "main"}}
<!-- <h2>Latest Snippets</h2> {{if .Snippets}}
<table>
    <tr>
    </tr>
    {{range .Snippets}} <tr>
        <td><a href='/snippet/view/{{.ID}}'>{{.Title}}</a></td>
        <td>{{humanDate .Created}}</td>
        <td>#{{.ID}}</td>
    </tr>
    {{end}}
</table>
{{else}}
<p>There's nothing to see here... yet!</p>
{{end}} -->

<!-- <h2>Latest Snippets</h2>  -->


{{if .Snippets}}
<div class="container my-3">

    <div class="bg-image" class="w-75">
        <img style="max-width: 100%; height: auto;"src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" />
        <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: rgba(204, 208, 204, 0.6)">
          <h4 style="color: black;">Saji Koduvath</h4>
          <p style="color: black;"class="m-0">Your trusted source for legal insights</p>
        </div>
    </div>
    
  
    <div class="row row-cols-1 my-3 row-cols-md-2 row-cols-lg-3 g-4">
    {{range .Snippets}}

            <div class="col">
                <div class="card h-100">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top" alt="Hollywood Sign on The Hill" />
                    <div class="card-body">
                        <h5 class="card-title">{{.Title}}</h5>
                        <p class="card-text">
                            {{.Content}}
                        </p>
                        <a href="/snippet/view/{{.ID}}" class="btn btn-outline-secondary">Read</a>
                    </div>

                    <div class="card-footer">
                        <small class="text-muted">{{.Created}}</small>
                    </div>
                </div>
            </div>
    {{end}}
    </div>
</div>
{{else}}
    <p>There's nothing to see here... yet!</p>
{{end}}
{{end}}