{{define "title"}}Hello{{end}}

{{define "main"}}
<!-- <h2>Latest Snippets</h2> {{if .Snippets}}
<table>
    <tr>
    </tr>
    {{range .Snippets}} <tr>
        <td><a href='/snippet/view/{{.ID}}'>{{.Title}}</a></td>
        <td>{{humanDate .Created}}</td>
        <td>#{{.ID}}</td>
    </tr>
    {{end}}
</table>
{{else}}
<p>There's nothing to see here... yet!</p>
{{end}} -->

<!-- <h2>Latest Snippets</h2>  -->


{{if .Snippets}}
<div class="container my-3">
  
    <!-- <div class="row row-cols-1 my-3 row-cols-md-2 row-cols-lg-3 g-4"> -->
    <ul class="list-group list-group-light">
    {{range .Snippets}}

    
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <div class="fw-bold">{{.Title}}</div>
            <div class="text-muted">{{.Content}}</div>
          </div>
          <span class="badge rounded-pill badge-success"><a href="/snippet/view/{{.ID}}" class="btn btn-outline-secondary">Read</a></span>
        </li>

            <!-- <div class="col">
                <div class="card h-100">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top" alt="Hollywood Sign on The Hill" />
                    <div class="card-body">
                        <h5 class="card-title">{{.Title}}</h5>
                        <p class="card-text">
                            {{.Content}}
                        </p>
                        <a href="/snippet/view/{{.ID}}" class="btn btn-outline-secondary">Read</a>
                    </div>

                    <div class="card-footer">
                        <small class="text-muted">{{.Created}}</small>
                    </div>
                </div>
            </div> -->
    {{end}}
    </ul>
 <!-- </div> -->
</div>
{{else}}
    <p>There's nothing to see here... yet!</p>
{{end}}
{{end}}