{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}

{{define "main"}}
<!-- <div class='snippet'>
    <div class='metadata'> <strong>{{.Snippet.Title}}</strong> <span>#{{.Snippet.ID}}</span>
    </div>
    <pre><code>{{.Snippet.Content}}</code></pre>
    <div class='metadata'>
        <time>Created: {{humanDate .Snippet.Created}}</time>

    </div>
</div> -->
<div class="container w-75">
    <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="img-fluid mt-5" alt="Wild Landscape" />
    <div class="text-md-start mt-3">
    <h2>{{.Snippet.Title}}</h2> 
    <h6>Created: {{humanDate .Snippet.Created}}</h6> 
     <div class="row"> 
        <div class="mt-2"> 
            
            <p> 
                {{template "content" .}}
            </p> 

        </div> 
     </div> 
    </div>
  </div> 
{{end}}